{% extends 'layout.html.twig' %}
{% block title %}Bonbondex{% endblock %}

{% block content %}



    <main class="bonbondex">

        <div class="row d-flex justify-content-center">
            <h1 class="col-lg-12 col-sm-8 text-center">Mon Bonbondex</h1>
        </div>

        <div class="d-flex justify-content-center">
            <button onclick="geolocalisation()" class="btn btn-primary" >Me localiser</button>
        </div>

        <div class="row d-flex justify-content-around m-lg-5 p-lg-5">
            {% for bonbon in bonbons %}
                {% if bonbon.quantite==0 %}
                    <div class="card search d-flex justify-content-center mt-5 p-2" >
                        <img class="card-img-top mx-auto" src="{{ bonbon.image_url}}" alt="Card image cap" style="height: 250px ; width: 250px;">
                        <div class="card-body ">
                            <h5 class="card-title text-center">{{ bonbon.nom }}</h5>
                            <p class="card-text text-center" >Je me situe à<br/> {{ bonbon.distance}} km de toi!</p>
                            <div class="card-header d-flex justify-content-center">
                                <form action="" method="post" role="form">
                                    <input type="hidden" name="search" value="{{ bonbon.id }}">
                                    <button type="submit" class="card-link btn btn-dark" name="searchMe"
                                            data-toggle="collapse">Me trouver
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                {% else %}
                    <div class="card found d-flex justify-content-center  mt-5 p-2" style="width: 18rem;">
                        <img class="card-img-top mx-auto" src="{{ bonbon.image_url}}" alt="Card image cap" style="height: 250px ; width: 250px;">
                        <div id ="texte">Trouvé</div>
                        <div class="card-body ">
                            <h5 class="card-title text-center">{{ bonbon.nom }}</h5>
                            <p class="card-text text-center">{{ bonbon.quantite }} bonbons</p>
                            <p class="card-text text-center">Trouvé au:<br/> {{ bonbon.adresse }} {{ bonbon.code_postal }} {{ bonbon.ville }}</p>

                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>


    </main>


{% endblock %}